{% load static %}
<link rel="stylesheet" href="{% static 'admin/simpleui-x/css/index.css' %}?_=3.2">
<link rel="stylesheet" href="{% static 'admin/simpleui-x/waves/waves.min.css' %}?_=2.1">

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!-- Include Element UI JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<el-date-picker
    v-model="value"
    :type="{{ widget.picker_type }}"
    name="{{ widget.name }}"
    v-bind="widget.attrs"
    id="jamal"
></el-date-picker>
{% include 'admin/includes/js-part.html' %}